//
// CONTENTS
//
// Contains Variabls *only*
// See ../../node_modules/bootstrap/scss/_variables.scss for boostrap variables
//

$color-white: #fff;
$color-white-alpha: transparentize($color-white, .45);
$color-black: #000;
$color-black-alpha: transparentize($color-black, .54);
$color-black-alpha-soft: transparentize($color-black, .76);

$colors: (
  blue: $color-blue,
  blue-light: $color-blue-light,
  red: $color-red,
  red-dark: $color-red-dark,
  white: $color-white,
  white-alpha: $color-white-alpha,
  black: $color-black,
  black-alpha: $color-black-alpha,
  black-alpha-soft: $color-black-alpha-soft,
);

$colors-invert: (black, black-alpha, black-alpha-soft, grey-dark);

//
// FONTS
//
$font-sizes: (
  h1: 36px,
  xl: 24px,
  lg: 18px,
  md: 16px,
  sm: 14px,
  xs: 12px
);

$font-families: (
  base: "Museo Sans",
  code: monospace
);

$font-base-line-height: 1.33;

//
// SPACING
//
$spaces: (
  xxs: 2px,
  xs: 4px,
  sm: 8px,
  md: 16px,
  lg: 32px,
  xl: 64px
);

@function space($size: md) {
  @return map-get($spaces, $size);
}


// BOOTSTRAP OVERRIDES;
// See ../../node_modules/bootstrap/scss/_variables.scss
$enable-flex: true;
$brand-primary: $color-blue-light;
$brand-danger: $color-red;
$gray-light: $color-grey-light;

$btn-secondary-color: $color-blue-light;
$btn-secondary-bg: $color-white;
$btn-secondary-border: $color-blue-light;

$input-border-color: $color-blue;

$btn-padding-x: space(md);
$btn-padding-y: space(sm);

$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 1024px,
  xl: 1200px
);

$border-radius: space(xs);

// BOOTSTRAP: SPACING;
$spacer:   space(md);
$spacer-x: $spacer;
$spacer-y: $spacer;
$spacers: (
  xs: (
    x: space(xs),
    y: space(xs),
  ),
  sm: (
    x: space(sm),
    y: space(sm),
  ),
  md: (
    x: space(md),
    y: space(md),
  ),
  lg: (
    x: space(lg),
    y: space(lg),
  ),
  xl: (
    x: space(xl),
    y: space(xl),
  ),
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: $spacer-x,
    y: $spacer-y
  ),
  2: (
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  ),
  3: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  )
);
